form {
	input, textarea, label {
		color: @color-secondary;
	}
	input, textarea {
		outline: none;
		border: none;
		border-bottom: 1px solid #8D8D8D;
		
		padding: 0 0 10px 0;
		background: none;
		width: 100%;
		
		font-size: @size-14;
		line-height: @size-20;
		font-family: 'Montserrat-Medium';
		margin-top: @size-4;
		box-sizing: border-box;
	}
	textarea {
		height: @size-50;
		overflow: hidden;
	}
	label {
		font-size: 14px;
		line-height: 20px;
	}
	.form-row {
		@media (min-width: 992px) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			margin-bottom: 45px;
			gap: 39px;
		}
		.form-group {
			display: flex;
			flex-direction: column;
			@media (max-width: 991px) {
				margin-bottom: @size-45;
			}
			p {
				margin: 0;
				padding: 0;
				font-size: 0;
			}
		}
		&.full-width {
			grid-template-columns: 1fr;
		}
	}
	.wpcf7-form-control-wrap {
		position: relative !important;
	}
	.wpcf7-spinner {
		display: none !important;
	}
	.cf7-error-field {
		background-color: rgba(255, 0, 0, 0.1) !important;
		width: 100%;
	}
	.wpcf7-not-valid-tip {
		display: none !important;
	}
	.wpcf7-not-valid {
		background: rgba(255, 0, 0, 0.1);
	}
}
// select element styling
.tinyselect {
	height: auto;
	margin-top: @size-4;
	width: 100% !important;
	.selectbox {
		.flex;
		justify-content: space-between;
		align-items: baseline;
		position: relative;
		border: none;
		border-bottom: 1px solid #8D8D8D;
		padding-left: 0;
		color: @color-secondary;
		border-radius: 0;
		font-size: @size-14;
		line-height: @size-20;
		padding: 0 0 10px 0;
		font-family: 'Montserrat-Medium';
		&::after {
			position: relative;
			background: url('data:image/svg+xml,<svg width="7" height="5" viewBox="0 0 7 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 0.5L3.5 3.5L6.5 0.5" stroke="white" stroke-linecap="round"/></svg>');
			background-repeat: no-repeat;
			background-position: right center;
			border: 0;
			width: @size-6;
			height: @size-3;
		}
		&.open {
			&::after {
				background-image: url('data:image/svg+xml,<svg width="7" height="5" viewBox="0 0 7 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.5 3.70711L3.5 0.707107L0.5 3.70711" stroke="white" stroke-linecap="round"/></svg>');
			}
		}
	}
	.dropdown {
		border: none;
		background: @color-main-100;
		.itemcontainer {
			li {
				font-size: 14px;
				line-height: 120%;
				color: @color-secondary;
				cursor: pointer;
				&:hover, &.selected {
					color: @color-primary;
					background-color: transparent;
				}
			}
		}
		scrollbar-width: thin;
		scrollbar-color: #3C3D3E @color-main-100;
		&::-webkit-scrollbar {
			width: 6px;
		}
		&::-webkit-scrollbar-thumb {
			background: #3C3D3E;
			border-radius: 3px;
		}
		::-webkit-scrollbar-thumb:hover {
			background: @color-main-100;
		}
	}
}
.form-footer, .checkbox-group-block {
	p {
		display: grid;
		grid-template-columns: auto auto; /* две колонки по ширине контента */
		justify-content: start; /* прижимаем к левому краю (по желанию) */
		gap: @size-16;
		@media (min-width: 992px) {
			.flex;
			margin: 0px;
			align-items: center;
		}
		.wpcf7-submit {
			grid-column: ~"1 / -1"; /* третий блок на всю ширину */
		}
	}
	label {
		color: @color-light-grey;
		font-size: @size-11;
		@media (min-width: 992px) {
			font-size: initial;
		}
	}
	br {
		display: none;
	}
	.wpcf7-list-item {
		margin-left: 0;
	}
	.cf7-checkbox {
		border: 1px solid rgba(255, 255, 255, 0.7);
		width: @size-20;
		height: @size-20;
		@media (min-width: 992px) {
			width: @size-24;
			height: @size-24;
		}
		border-radius: @size-5;
		&:checked {
			background: url('data:image/svg+xml,<svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.7501 0.75L3.75004 7.75L0.75 4.75" stroke="%23F5B1B5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
			background-repeat: no-repeat;
			background-position: center center;
		}
		
	}
}

.custom-toast {
	position: fixed;
	bottom: @size-20;
	right: @size-20;
	background: @color-dark-grey;
	color: @color-secondary;
	padding: @size-12 @size-18;
	border-radius: @size-6;
	opacity: 0;
	.animation(0.5s, all);
	z-index: 9999;
	&.show {
		opacity: 1;
	}
	&.validation_failed {
		background: #ff0000 !important;
	}
	&.mail_sent {
		background: @color-main !important;
		color: @color-primary !important;
	}
}

.wpcf7-response-output {
	display: none !important;
}