.animation (@time; @parameter: 'all') {
	-webkit-transition: @parameter @time ease-in-out;
	-moz-transition: @parameter @time ease-in-out;
	-o-transition: @parameter @time ease-in-out;
	transition: @parameter @time ease-in-out;
}